*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nerko One', cursive;

}
 body {
   background-color: rgb(173,216,230);
 }
 #container{
    margin: 50px auto;
    width: 70%;
  }

  h1 {
    font-size: 80px;
    text-align: center;
    color: white;
  }
 main{
   margin-top: 40px;
 }
 .container-secondo {
   margin: auto;
   width: 50%;
 }
 .riga{
   margin: auto;
   display: inline;
 }
 .rettangolo {
   width: calc(100% / 4 - 2px - 2px);
   height: 150px;
   border: 1px solid black;
   border-radius: 5px;
   margin:auto;
   background-image:url("./pattern.png");
   background-size: cover;
   display: inline-block;
   position: relative;
 }


.didascalia-uno:hover {
  background-image: url("./noun_Tram_3134750.png");
  background-size: cover;
  background-color: white;
  position: relative;
}

p {
  position: absolute;
  font-size: 35px;
  bottom: 1px;
  left: 25px;
  color: orange;
}

.didascalia-tre:hover {
  background-image: url("./noun_Tractor_3134797.png");
  background-size: cover;
  background-color: white;
}

.didascalia-sei:hover {
  background-image: url("./noun_air_balloon_3134741.png");
  background-size: cover;
  background-color: white;
}


.didascalia-sette:hover {
  background-image: url("./noun_Cruise_Ship_3134824.png");
  background-size: cover;
  background-color: white;
}

.didascalia-nove:hover {
  background-image: url("./noun_Bicycle_3134821.png");
  background-size: cover;
  background-color: white;
}

.didascalia-dodici:hover {
  background-image: url("./noun_Submarine_3134738.png");
  background-size: cover;
  background-color: white;
}


footer{
  text-align: center;
  margin-top: 50px;
}
